<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-container container clearfix">
      <div class="footer-content-left">
        جميع الحقوق محفوظة, © بلدية إربد الكبرى
      </div>
      <div class="footer-content-right">
        <a href="https://www.facebook.com/pages/category/Government-Organization/%D8%A8%D9%84%D8%AF%D9%8A%D8%A9-%D8%A7%D8%B1%D8%A8%D8%AF-%D8%A7%D9%84%D9%83%D8%A8%D8%B1%D9%89-Greater-Irbid-Municipality-521167804644459/" target="_blank" class="footer-icon" title="facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=962770415335" class="footer-icon">
          <i class="fa fa-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
