<div class="container">
  <div class="section">
    <div class="title-container">
      <hr class="section-divider">
      <h2>الحفاظ على البيئة</h2>
    </div>

        <!-- Conditional Rendering for No Items Message -->
        <div *ngIf="!environmentItems || environmentItems.length === 0" class="no-items-message">
          <p>لا توجد عناصر متاحة</p>
        </div>


    <!-- Image Carousel -->
    <div *ngIf="environmentItems && environmentItems.length > 0" class="carousel-container">
      <button class="scroll-button left" (click)="scrollLeft('environmentCarousel')">&#10094;</button>
      <div class="carousel" id="environmentCarousel">
        <mat-card *ngFor="let item of environmentItems" class="carousel-item">
          <img mat-card-image [src]="apiUrl + item.url" alt="Image Environment">
        </mat-card>
      </div>
      <button class="scroll-button right" (click)="scrollRight('environmentCarousel')">&#10095;</button>
    </div>
  </div>
</div>
