
<div class="custom-background position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center arabic-container"
     [@fadeInOut]>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4  narabic-text" style="font-weight: bold;"> قائمة الخدمات الإلكترونية</h1>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>





<div class="wrapper">
  <div class="right-side my-5">
    <div class="container mt-6 my-5">
      <div class="grid-container">
        <a class="grid-item" href="https://eservices.mola.gov.jo/" style="background-image: url('/assets/images/localadmin.png');">
          <div class="overlay">وزارة الادارة المحلية</div>
        </a>
        <a class="grid-item" href="https://www.ammancity.gov.jo/ar/eservices/login.aspx" style="background-image: url('/assets/images/traffic-car.jpg');">
          <div class="overlay">مخالفات السير</div>
        </a>
        <a class="grid-item" href="https://ptp.mof.gov.jo/PTPCustLoginPage.aspx" style="background-image: url('/assets/images/building.JPG');">
          <div class="overlay">ضريبة الأبنية والأراضي (المسقفات)</div>
        </a>
      </div>
    </div>
  </div>
</div>
