<section id="counter" class="sec-padding">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 my-3">
        <div class="count">
          <span class="fa fa-users" aria-hidden="true"></span>
          <div class="number-container">
            <p class="plus">+</p>
            <p class="number">10000</p>
          </div>
          <h4>نسمة بخدمتكم</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <div class="count">
          <span class="fa fa-user-tie" aria-hidden="true"></span>
          <div class="number-container">
            <p class="plus">+</p>
            <p class="number">3000</p>
          </div>
          <h4>موظف</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <div class="count">
          <span class="fa fa-lightbulb" aria-hidden="true"></span>
          <div class="number-container">
            <p class="plus">+</p>
            <p class="number">500</p>
          </div>
          <h4>مبادرة</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <div class="count">
          <span class="fa fa-globe" aria-hidden="true"></span>
          <div class="number-container">
            <p class="plus">+</p>
            <p class="number">1200</p>
          </div>
          <h4>مشروع</h4>
        </div>
      </div>
    </div>
  </div>
</section>
