<app-shared-layout [title]="title" [backgroundImage]="backgroundImage" [contentTemplate]="pageContent"
  [contentClass]="pageContentClass"></app-shared-layout>

<!-- Define different templates for different page content -->
<ng-template #KnowledgeStation>
  <div class="container">
    <p>
      <strong style="font-weight: bold;">الرؤيا</strong>
      <br>
      <br>
      تبلورت فكرة محطات المعرفة الأردنية من رؤية جلالة الملك عبد الله الثاني أبن الحسين المعظم بالتحول إلى الاقتصاد
      الرقمي
      والمعرفي والتي تمثلت بإتاحة الفرصة للمواطن الأردني لاستخدام تكنولوجيا المعلومات والاتصالات كأداة فاعلة لخدمة
      المجتمع
      المحلي بمختلف فئاته مع التركيز على المجتمعات الريفية والنائية بهدف تجسير الفجوة الرقمية بين محافظات المملكة،
      ولتطوير
      القوى البشرية وإكسابها مهارات الاقتصاد الحديث لزيادة قدرتها التنافسية في الحصول على الوظائف ورفع كفاءتها العملية،
      وذلك من أجل تكامل الجهود للمساهمة في تحقيق تنمية اقتصادية واجتماعية شاملة على مستوى التجمعات السكانية تنعكس آثارها
      المباشرة على حياة ورفاهية المواطن.
      <br>
      <br>
      وقد تم إطلاق مبادرة تأسيس مراكز تكنولوجيا المعلومات وخدمة المجتمع (والتي سميت فيما بعد مبادرة محطات المعرفة
      الأردنية) وتشكلت لجنة ملكية لمتابعة عملية إنشاء محطات المعرفة وضمان استدامتها في عام 2001 وتأتي هذه المبادرة كخطوة
      عملية في طريق اعتماد تطبيقات تكنولوجيا المعلومات في المجتمعات المحلية تمهيداً لتفعيل استخدامات الحكومة الالكترونية
      في خدمة المواطنين في أماكن تواجدهم. وأوكلت إلى مركز تكنولوجيا المعلومات الوطني مهمة تنفيذ المشروع وقام بإعداد
      دراسة
      تحدد التوزيع الأمثل لمحطات المعرفة على جميع المحافظات والتجمعات السكانية في المملكة.
      <br>
      <br>
      <strong style="font-weight: bold;">الدورات</strong>
      <br>
      تقدم محطة معرفة اربد خدمات مميزة اهمها
      <br>
      <li>دورات في الحاسوب</li>
      <li>خدمات إنترنت بصورها المتعددة</li>
      <li>ندوات ومحاضرات</li>
      يتم تنظيم الدورات من خلال مدريبن على درجة عالية من المهارة و الخيرة الواسعة .
      <br>.
      رسوم الدورات و الخدمات التي تقدمها المحطة رسوم رمزية فالهدف العام من محطة المعرفة تقديم خدمة الحاسوب و الانترنت
      للمجتمع المحلي و أبنائه . و فيما يلي بعض الخدمات العامة و الدورات التي تقدمها المحطة و كل ما يتعلق بمحطة معرفة
      اربد
      وبأسعار شبه مجانية

    </p>
    <div>
    </div>
    <table class="table1">
      <tbody>
        <tr>
          <td><strong>ICDL</strong></td>
        </tr>
        <tr>
          <td><strong>الشاملة في الحاسوب</strong></td>
        </tr>
        <tr>
          <td><strong>الطباعة والسكرتاريا</strong></td>
        </tr>
        <tr>
          <td><b>Q.Basic</b></td>
        </tr>
        <tr>
          <td><strong>الإنترنت وساعة الإنترنت</strong></td>
        </tr>
        <tr>
          <td><strong>الأبحاث</strong></td>
        </tr>
      </tbody>
    </table>
    <p>علما بان المحطة مركز معتمد للتدريب والامتحان للرخصة الدولية لقيادة الحاسوب ركزت محطات المعرفة الأردنية معظم
      جهودها في عملية التدريب المتعلقة بتكنولوجيا
      <br>
      المعلومات من خلال البرامج والحزم التدريبية المتخصصة ، وتمارس محطات المعرفة النشاطات التالية :
      <br>
      التدريب على كيفية استخدام الحاسوب والبرامج التطبيقية .

      <li>تدريب متخصص في بعض محطات المعرفة مثل (الرسم الهندسي، صيانة الأجهزة،…).</li>
      <li>التدريب على كيفية استخدام شبكة الانترنت وتقديم خدمات المعلومات.</li>
      <li>التعليم الالكتروني E – Learning.</li>
      <li>دعم برامج الحوسبة في المدارس، والجامعات، وإتاحة الفرصة للطلاب لاستخدام تكنولوجيا المعلومات للأغراض العلمية
        والدراسية خارج أوقات الدوام الرسمي للمدارس والجامعات.</li>
      <li>توظيف محطات المعرفة لخدمة المبادرات الوطنية الأخرى (برنامج تعزيز الانتاجية، الحكومة الالكترونية، شبكة
        الأردن،…).</li>
      <li>تقديم خدمات ونشاطات تساهم في إحداث تنمية في التجمعات المحلية.</li>
      <li>تدريب المتقاعدين العسكريين.</li>
      <li>اعتماد المحطات الرئيسية مركز اختبارات للرخصة الدولية لقيادة الحاسوب وشهادة كامبردج في تقنية المعلومات.</li>
      <li>بوابة للحكومة الالكترونية وتعريف بها ودورها في خدمة المجتمع.</li>
      <li>تدريب أفراد المؤسسات الحكومية (وزارة العدل, القوات المسلحة, الجوازات والأحوال المدنية).</li>
      <li>بعض أسس الإعفاء التي تتبع في جميع محطات المعرفة على الدورات التدريبية وإصدار الشهادات.</li>

    </p>

    <table class="table1">
      <tbody>
        <tr>
          <td><strong>الحالة</strong></td>
          <td><strong>نسبة الإعفاء</strong></td>
        </tr>
        <tr>
          <td><strong>أفراد العائلة الواحدة 2 فأكثر</strong></td>
          <td>الثالث مجانا</td>
        </tr>
        <tr>
          <td><strong>المنتفعين من صندوق المعونة الوطنية</strong></td>
          <td>90% - صورة عن بطاقة الانتفاع</td>
        </tr>
        <tr>
          <td><strong>الأشخاص فوق عمر 45 سنة</strong></td>
          <td>30%</td>
        </tr>
        <tr>
          <td><strong>يتيم الأب تحت سن 18</strong></td>
          <td>50% - صورة عن دفتر العائلة</td>
        </tr>
        <tr>
          <td><strong>الأشخاص فوق عمر 60 سنة</strong></td>
          <td>100%</td>
        </tr>
      </tbody>
    </table>
  </div>


</ng-template>




<ng-template #page3Content>



</ng-template>







































<ng-template #page3Content>
  <p>Content for Page 3</p>
</ng-template>

<ng-template #page4Content>
  <p>Content for Page 4</p>
</ng-template>

<ng-template #page5Content>
  <p>Content for Page 5</p>
</ng-template>

<ng-template #page6Content>
  <p>Content for Page 6</p>
</ng-template>

<ng-template #page7Content>
  <p>Content for Page 7</p>
</ng-template>

<ng-template #page8Content>
  <p>Content for Page 8</p>
</ng-template>
