<div class="container mt-6 my-5">
  <div class="grid-container">
    <a class="grid-item"  href="https://web.facebook.com/people/%D8%A5%D8%B0%D8%A7%D8%B9%D8%A9-%D9%87%D9%88%D8%A7-%D8%A7%D8%B1%D8%A8%D8%AF/100094992047904/?mibextid=LQQJ4d"   style="background-image: url('/assets/images/radio.jpg');">
      <div class="overlay">راديو هوا إربد</div>
    </a>
    <button (click)="navigateToComplaint()" class="grid-item" style="background-image: url('/assets/images/law.jpg');">
      <div class="overlay">شكاوي وإقتراحات</div>
    </button>
    <button class="grid-item" (click)="navigateToElectric()" style="background-image: url('/assets/images/Technology.jpg');">
      <div class="overlay">الخدمات الإلكترونية</div>
    </button>

    <a class="grid-item"  href="https://ptp.mof.gov.jo/PTPCustLoginPage.aspx" style="background-image: url('/assets/images/building.JPG');">
      <div class="overlay">ضريبة الأبنية والأراضي (المسقفات)</div>
    </a>
    <a class="grid-item" style="background-image: url('/assets/images/agriculture.jpg');">
      <div class="overlay">مبادرة زراعتي مسؤوليتي</div>
    </a>
    <button class="grid-item" (click)="navigateToLibary()" style="background-image: url('/assets/images/videoImages.jpg');">
      <div class="overlay">مكتبة الصور والفيديو</div>
    </button>
    <a class="grid-item"   href="https://www.ammancity.gov.jo/ar/eservices/login.aspx" style="background-image: url('/assets/images/traffic.JPG');">
      <div class="overlay">مخالفات السير</div>
    </a>

  </div>
