

<div class="container">
  <div class="video-gallery">
  <div class="video-row">
      <div class="video-column">
          <iframe src="//www.youtube.com/embed/YyFpPJdDTb8?wmode=transparent" allowfullscreen></iframe>
      </div>
      <div class="video-column">
          <iframe src="//www.youtube.com/embed/ievMmVfeGuc?wmode=transparent" allowfullscreen></iframe>
      </div>
  </div>
  <div class="video-row">
      <div class="video-column">
          <iframe src="//www.youtube.com/embed/YPvogaiQ4KY?wmode=transparent" allowfullscreen></iframe>
      </div>
      <div class="video-column">
          <iframe src="//www.youtube.com/embed/dAVgkE1LY_s?wmode=transparent" allowfullscreen></iframe>
      </div>
  </div>
  <!-- Repeat the above video-row structure for each pair of videos -->
</div>

</div>

